.container-fluid {
  background-color: black;
  height: 100em;
  width: 100em;
}

.text {
  color: rgb(202, 55, 55);
  font-size: 100px;
  font-family: fantasy;
  justify-content: center;
}

.selectCharacterText {
  color: rgb(255, 174, 0);
  font-family: fantasy;
}

.characterSelection {
  justify-content: center;
  margin-left: 250px;
  color: whitesmoke;
}

img {
  width: 200px;
  border-radius: 50px;
}

.fightButton {
  border: none;
  border-radius: 50px;
  font-size: 25px;
  font-family: fantasy;
  color: black;
  background-color: green;
  margin-left: 250px;
}

.fightButton:hover {
  background-color: rgb(9, 80, 9);
}

.buttonGoBack {
  border: none;
  border-radius: 50px;
  font-size: 25px;
  font-family: fantasy;
  color: black;
  background-color: red;
  justify-content: center;
  margin-left: 10px;
}

.buttonGoBack:hover {
  background-color: rgb(173, 18, 18);
}
